.pickletable .divPagination button {
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    background-color: white;
    color: black;
    border: 1px solid black; /* Green */
    margin-left: 2px;
}

.pickletable .divPagination button:hover {
    background-color: black; /* Green */
    color: white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.pickletable .divPagination button {
    transition-duration: 0.4s;
}

